@import url(reset.css);

body {
    font-family: Montserrat, Helvetica, Tahoma, Verdana, Arial, sans-serif;
}

img {
    max-width: 100%;
}

#wrapper{
    max-width: 1365px;
    min-height: 920px;
    margin: auto;
    background: url(/images/fon.png);
}

#contacts{
    position: absolute;
    width: 135px;
    height: 50px;
    left: 1075px;
    top: 20px;
    font-size: 12px;
    color: white;
}

#contacts img{
    width: 21px;
}

#contacts td{
    height: 28px;
    vertical-align: middle;
}

#most-ambitious{
    position: absolute;
    top: 55px;
    left: 437px;
    font-size: 25px;
    color: white;
}

#central-name{
    position: absolute;
    top: 70px;
    left: 437px;

}

#central-descr{
    position: absolute;
    width: 237px;
    top: 275px;
    left: 564px;
    color: white;
}

#soon{
    font-size: 22px;
    text-align: center;
    letter-spacing: 42px;
}

#time{
    font-size: 12px;
    text-align: center;
}

#form-desc{
    position: absolute;
    left: 580px;
    top: 380px;
    font-size: 14px;
    text-align: center;
    color: #ebe1d8;

}

#form-place{
    position: absolute;
    width: 425px;
    height: 255px;
    left: 470px;
    top: 385px;
    background: url(/images/form-border.png);
    
}

.ol{
    color: red;
}

#form{
    position: absolute;
    width: 300px;
    top: 40px;
    left: 62px;

}

 .placeholder_name {
    z-index: 100;  
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    cursor: text;   
    position: absolute;
    top: 12px;
    width: 100%; 
    display: none;
    color: #3f4344;
}

.inputname input:invalid + .placeholder_name {
     display: inline;
}

.placeholder_name span {
    color: #770101;
    font-size: 20px;
}

.placeholder_tel {
    z-index: 100;  
    font-size: 14px;
    font-weight: bold;
    padding-left: 20px;
    cursor: text;   
    position: absolute;
    top: 75px;
    width: 100%; 
    display: none;
    color: #3f4344;
}

.inputtel input:invalid + .placeholder_tel {
     display: inline;
}

.placeholder_tel span {
    color: #770101;
    font-size: 20px;
}

#inputname{
    height: 38px;
    width: 275px;
    font-size: 14px;
    font-weight: bold;
    background-color:#ebe1d8;
    color: #770101;
    border: 2px solid #3f4344;
    margin-bottom: 20px;
    padding-left: 18px;
}

#inputtel{
    height: 38px;
    width: 275px;
    font-size: 14px;
    font-weight: bold;
    background-color:#ebe1d8;
    color: #770101;
    border: 2px solid #3f4344;
    margin-bottom: 20px;
    padding-left: 18px;
}
    
.error input {
    color: red;
}

.error {
    color: red;
}

.form-button{
    height: 40px;
    width: 195px;
    font-size: 14px;
    border: 2px solid #470202;
    color: #ffffff;
    background-color: #770101;
    margin-left: 50px;
}

#logo-md{
    position: absolute;
    left: 660px;
    top: 700px;
}

#bottom-content{
    position: absolute;
    left: 415px;
    top: 840px;
}

#bottom-content td{
    padding-right: 30px;
}

#contacts2{
    position: absolute;
    height: 30px;
    font-size: 12px;
    color: white;
    left: 105px;
    top: 873px;
}

@media screen and (max-width: 768px){
    #wrapper{
        width: auto;
        height: auto;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
    }
    
    #contacts{
        top: 5px;
        left: 300px;
        font-size: 10px;
    }
    
    #contacts img{
        width: 15px;
    }
    
    #contacts td{
        height: 15px;
    }
    
    #most-ambitious{
        top: 60px;
        left: 220px;
        font-size: 16px;
    }

    #central-name{
        top: 60px;
        left: 220px;
        width: 300px;
    }
    
    #central-descr{
        top: 170px;
        left: 260px;
    }

    #form-desc{
        top: 220px;
        left: 290px;
    }

    #form-place{
        top: 225px;
        left: 220px;
        background-size: 310px;
        background-repeat: no-repeat;
    }

    #form{
        width: 250px;
        left: 40px;
    }
    .placeholder_name {
        z-index: 100;  
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
        cursor: text;   
        position: absolute;
        top:5px;
        width: 100%; 
        display: none;
        color: #3f4344;
    }
    
    .inputname input:invalid + .placeholder_name {
         display: block;
    }

    .placeholder_name span {
        color: #770101;
        font-size: 20px;
    }

    .placeholder_tel {
        z-index: 100;  
        font-size: 14px;
        font-weight: bold;
        padding-left: 20px;
        cursor: text;   
        position: absolute;
        top: 46px;
        width: 100%; 
        display: none;
        color: #3f4344;
    }
    
    .inputtel input:invalid + .placeholder_tel {
         display: block;
    }

    .placeholder_tel span {
        color: #770101;
        font-size: 20px;
    }
    
    #inputname{
        height: 25px;
        width: 200px;
        margin-bottom: 10px;
    }

    #inputtel{
        height: 25px;
        width: 200px;
        margin-bottom: 10px;
    }

    .form-button{
        height: 35px;
        width: 150px;
        margin-left: 35px;
    }

    #logo-md{
        top: 420px;
        left: 340px;
    }
    
    #bottom-content{
        top: 550px;
        left: 220px;
        width: 320px;
    }
    
    #bottom-content td{
        padding-right: 30px;
    }
    
    #contacts2{
        left: 300px;
        top: 580px;
    }

}
